body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

header {
  background-color: #000000;
  color: #fff;
  padding: 20px;
  text-align: center;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

.section {
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

#home {
  background-image: url('hero-background1.jpg');
  animation: fade 2s ease-in-out forwards; /* Apply fade animation when page loads */
}

@keyframes fade {
  0% {
    opacity: 0; /* Start with opacity 0 */
  }
  100% {
    opacity: 1; /* End with opacity 1 */
  }
}

#menu {
  background-image: url('menu.jpg'); /* Background image for the menu section */
  background-size: cover;
  background-position: center;
  color: #fff; /* Text color for menu items */
  padding: 50px 0; /* Add padding to the top and bottom of the menu section */
}

.content {
  text-align: center; /* Center align content within the menu section */
}

.menu-items {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 30px; /* Add margin to space out the menu items */
}

.menu-item {
  width: 300px; /* Set a fixed width for each menu item */
  margin: 0 20px; /* Add margin around each menu item */
  background-color: rgba(0, 0, 0, 0.7); /* Background color for each menu item */
  border-radius: 10px; /* Add rounded corners to menu items */
  padding: 20px; /* Add padding inside each menu item */
}

.menu-item img {
  width: 100%; /* Make the image fill the entire width of the menu item */
  border-radius: 10px; /* Add rounded corners to images */
}

.menu-item h3 {
  margin-top: 10px; /* Add some space above the menu item title */
}

.menu-item p {
  font-size: 16px; /* Set font size for item description */
  margin-bottom: 10px; /* Add some space below the item description */
}

.menu-item span {
  font-weight: bold; /* Make the price bold */
  display: block; /* Display the price on a new line */
}


#about {
  background-image: url('about buerger 2.jpeg');
}

#contact {
  background-image: url('clontact.webp');
}

.content {
  text-align: left; /* Align content to the left */
  padding: 0 20px; /* Add padding to space content from the sides */
  color: #fff; /* Change the color of the text to white */
}

.content h2 {
  margin-bottom: 20px;
}

.content p {
  font-size: 18px;
}
